
//colors
$darkgrey: rgb(50,50,50);
$outlineblue: rgb(80,100,140);
$logoblue: rgb(125,140,170);
$backpackblue: rgb(160,175,190);
$lightblue: rgb(195,205,210);
$lightgrey: rgb(240,240,240);
$green: rgb(160, 200, 165);
$red: rgb(185, 75, 80);

//measurements
$max-width: 1366px;
$header-height: 50px;
$padding: 20px;
$margin: 20px;



